{{ define "content" }}

<form
  class="form-signin center"
  role="form"
  action="/authenticate"
  method="post"
>
  <h2 class="form-signin-heading text-center">
    <i class="fa fa-comments-o"> myChat </i>
  </h2>
  <input
    type="email"
    name="email"
    class="form-control"
    placeholder="Email address"
    required
    autofocus
  />
  <input
    type="password"
    name="password"
    class="form-control"
    placeholder="Password"
    required
  />

  <div class="d-flex justify-content-evenly">
    <button class="btn btn-md btn-primary btn-block" type="submit">
      Sign in
    </button>
    <a class="lead pull-right" href="/signup">Sign up</a>
  </div>
</form>

{{ end }}
