{{ define "content" }}

<div class="panel-heading">
  <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>

  <div class="pull-right">Started by {{ .UserName }} - {{ .CreatedAt }}</div>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    {{ range .Posts }}

    <li class="list-group-item">
      <div class="panel-body">
        <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Body }}</span>
        <div class="pull-right">replied by {{ .UserName }} - {{ .CreatedAt }}</div>
      </div>
    </li>

    {{ end }}
  </ul>
</div>

{{ end }}
