@charset "utf-8";

/* 
Base style
*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label,
input,
textarea,
select,
button {
  cursor: pointer;
}
button {
  border: 0;
}

/* 
header
*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.header-logo {
  margin: 0;
}
.header-logo > a {
  display: block;
  color: transparent;
}
/* .header-nav {} */
.header-navlist {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header-navitem {} */
.header-navitem > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s;
}
.header-navitem > a:hover {
  border-bottom: 2px solid #333;
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 12px;
  }
}